.question{
    display: inline-block;
    font-size: large;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

mat-card{
    margin: 10px;
    box-sizing: border-box;
}

mat-radio-group{
    margin: 3px;
}